body {
      background: #fff;
      font-family: monospace;
    }
    .box-model-demo {
      width: 300px;
      background-color: lightblue;
      border: 15px solid blue;
      padding: 50px;
      margin: 20px;
      box-sizing: content-box;
      font-size: 16px;
      color: #023047;
    }